body {
  margin: 0;
  padding: 0;
  font-family: Verdana;
  line-height: 1.6;
  background-color: #f5f5f5;
}


header,
footer {
  background-color: #2f3b4a;
  color: white;
  padding: 20px;
  text-align: center;
}


nav {
  background-color: #234164;
    padding: 10px;
  display: flex;
  list-style: NONE;
}
ul {
  list-style: none; 
  padding-left: 0; 
  margin: 0;       
}

nav a {
 
  background-color: white;
  color: #3b6492;
  text-decoration: none;
  padding: 10px 16px;
  margin: 4px;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.2s, color 0.2s;
  list-style: none;
}

nav a:hover {
  background-color: #2f3b4a;
  color: white;
}


main {
  padding: 20px;
}

h1 {
  margin-bottom: 16px;
}

p,
ul,
form {
  margin-bottom: 16px;
}


ul {
  padding-left: 40px;
}

li {
  margin-bottom: 8px;
}

form label {
  display: block;
  margin-bottom: 12px;
}

input,
textarea {
  width: 300px;
  max-width: 100%;
  padding: 8px;
  font-family: Verdana,
  font-size: 14px;
}

textarea {
  resize: vertical;
}

button {
  padding: 10px 18px;
  font-family: Verdana,
  font-size: 14px;
  cursor: pointer;
}





/* Media Queries  */


@media (max-width: 900px) {
  main {
    padding: 16px;
  }

  nav a {
    margin: 6px;
  }
}



/* Mobiltelefoner */
@media (max-width: 600px) {
  nav a {
    display: block;
    margin: 8px 0;
  }

  h1 {
    font-size: 24px;
  }

  nav{
    text-align: center;
    flex-direction: column;
  }

  input,
  textarea,
  button {
    width: 100%;
    font-size: 16px;
  }

  header,
  footer {
    padding: 16px;
  }
  
}